@media only screen and (min-width: 769px) {
  body {
    padding-left: 15%;
  }
  body .slidecontainer {
    width: 100%;
  }
  body .menusection ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 18%;
  }
  body .menusection ul .firstli {
    list-style: none;
  }
  body .containercomplet {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 30px 1fr 1fr 1fr 1fr 200px;
        grid-template-rows: 30px 1fr 1fr 1fr 1fr 200px;
    padding-top: 5%;
  }
  body .containercomplet .titleshoes {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  body .containercomplet .itemsort {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  body .containercomplet .sortby {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 3;
    grid-column: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body .containercomplet .fa-ellipsis-h {
    display: none;
  }
  body .art1 {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    grid-column: 1;
    padding-top: 3%;
  }
  body .art1 figure {
    margin-left: 0px;
  }
  body .art2 {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    grid-column: 2;
    padding-top: 3%;
  }
  body .art2 figure {
    margin-left: 0px;
  }
  body .art3 {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 3;
    grid-column: 3;
    padding-top: 3%;
  }
  body .art3 figure {
    margin-left: 0px;
  }
  body .art4 {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  body .art4 figure {
    margin-left: 0px;
  }
  body .art5 {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  body .art5 figure {
    margin-left: 0px;
  }
  body .art6 {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 3;
    grid-column: 3;
  }
  body .art6 figure {
    margin-left: 0px;
  }
  body .art7 {
    -ms-grid-row: 4;
    grid-row: 4;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  body .art7 figure {
    margin-left: 0px;
  }
  body .art8 {
    -ms-grid-row: 4;
    grid-row: 4;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  body .art8 figure {
    margin-left: 0px;
  }
  body .art9 {
    -ms-grid-row: 4;
    grid-row: 4;
    -ms-grid-column: 3;
    grid-column: 3;
  }
  body .art9 figure {
    margin-left: 0px;
  }
  body .art10 {
    -ms-grid-row: 5;
    grid-row: 5;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  body .art10 figure {
    margin-left: 0px;
  }
  body .art11 {
    -ms-grid-row: 5;
    grid-row: 5;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  body .art11 figure {
    margin-left: 0px;
  }
  body .art12 {
    -ms-grid-row: 5;
    grid-row: 5;
    -ms-grid-column: 3;
    grid-column: 3;
  }
  body .art12 figure {
    margin-left: 0px;
  }
  body .menudroite {
    -ms-grid-column: 4;
    grid-column: 4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / 4;
    margin-top: -5px;
  }
  body .menudroite .couleur {
    margin-top: 15px;
  }
  body .menudroite .size {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body .menudroite .dsoustitre {
    font-weight: bold;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  body .numberpage {
    -ms-grid-row: 6;
    grid-row: 6;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  body .numberpage ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
  }
}

@media only screen and (max-width: 768px) {
  body {
    padding-left: 10%;
    padding-right: 10%;
  }
  body .menusection ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 30%;
  }
  body .menusection ul .firstli {
    list-style: none;
  }
  body .containercomplet {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1.5% 1.5% 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1.5% 1.5% 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding-top: 5%;
  }
  body .containercomplet .titleshoes {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  body .containercomplet .itemsort {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  body .containercomplet .sortby {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    grid-column: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body .containercomplet .fa-ellipsis-h {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    grid-column: 1;
    cursor: pointer;
    position: absolute;
    margin-top: 5%;
    font-size: 40px;
  }
  body .art1 {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  body .art1 figure {
    margin-left: 0px;
  }
  body .art2 {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  body .art2 figure {
    margin-left: 0px;
  }
  body .art3 {
    -ms-grid-row: 4;
    grid-row: 4;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  body .art3 figure {
    margin-left: 0px;
  }
  body .art4 {
    -ms-grid-row: 4;
    grid-row: 4;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  body .art4 figure {
    margin-left: 0px;
  }
  body .art5 {
    -ms-grid-row: 5;
    grid-row: 5;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  body .art5 figure {
    margin-left: 0px;
  }
  body .art6 {
    -ms-grid-row: 5;
    grid-row: 5;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  body .art6 figure {
    margin-left: 0px;
  }
  body .art7 {
    -ms-grid-row: 6;
    grid-row: 6;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  body .art7 figure {
    margin-left: 0px;
  }
  body .art8 {
    -ms-grid-row: 6;
    grid-row: 6;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  body .art8 figure {
    margin-left: 0px;
  }
  body .art9 {
    -ms-grid-row: 7;
    grid-row: 7;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  body .art9 figure {
    margin-left: 0px;
  }
  body .art10 {
    -ms-grid-row: 7;
    grid-row: 7;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  body .art10 figure {
    margin-left: 0px;
  }
  body .art11 {
    -ms-grid-row: 8;
    grid-row: 8;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  body .art11 figure {
    margin-left: 0px;
  }
  body .art12 {
    -ms-grid-row: 8;
    grid-row: 8;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  body .art12 figure {
    margin-left: 0px;
  }
  body .menudroite {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 8;
    grid-row: 2/span 8;
    width: 100%;
    height: 100%;
    background: white;
    text-align: center;
    margin: auto;
    -webkit-transition: -webkit-transform .6s ease-in-out;
    transition: -webkit-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out;
    --webkit-transition: transform .6s ease-in-out;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }
  body .menudroite .couleur {
    margin-top: 15px;
  }
  body .menudroite .size {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .menudroite .dsoustitre {
    font-weight: bold;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  body .menudroite.isOpen {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
  }
  body .numberpage {
    -ms-grid-row: 9;
    grid-row: 9;
    grid-column: span 2;
    padding-right: 20%;
    padding-left: 20%;
  }
  body .numberpage ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
  }
}

@media only screen and (max-width: 520px) {
  body {
    padding-left: auto;
    padding-right: auto;
  }
  body .menusection {
    text-align: center;
  }
  body .menusection ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 80%;
  }
  body .menusection ul .firstli {
    list-style: none;
  }
  body .containercomplet {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1.5% 1.5% 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1.5% 1.5% 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding-top: 5%;
  }
  body .containercomplet .titleshoes {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  body .containercomplet .itemsort {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  body .containercomplet .sortby {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 1;
    grid-column: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body .containercomplet .fa-ellipsis-h {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    grid-column: 1;
    cursor: pointer;
    position: absolute;
    margin-top: 5%;
    font-size: 40px;
  }
  body .art1 {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  body .art1 figure {
    margin-left: 0px;
  }
  body .art2 {
    -ms-grid-row: 4;
    grid-row: 4;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  body .art2 figure {
    margin-left: 0px;
  }
  body .art3 {
    -ms-grid-row: 5;
    grid-row: 5;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  body .art3 figure {
    margin-left: 0px;
  }
  body .art4 {
    -ms-grid-row: 6;
    grid-row: 6;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  body .art4 figure {
    margin-left: 0px;
  }
  body .art5 {
    -ms-grid-row: 7;
    grid-row: 7;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  body .art5 figure {
    margin-left: 0px;
  }
  body .art6 {
    -ms-grid-row: 8;
    grid-row: 8;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  body .art6 figure {
    margin-left: 0px;
  }
  body .art7 {
    -ms-grid-row: 9;
    grid-row: 9;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  body .art7 figure {
    margin-left: 0px;
  }
  body .art8 {
    -ms-grid-row: 10;
    grid-row: 10;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  body .art8 figure {
    margin-left: 0px;
  }
  body .art9 {
    -ms-grid-row: 11;
    grid-row: 11;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  body .art9 figure {
    margin-left: 0px;
  }
  body .art10 {
    -ms-grid-row: 12;
    grid-row: 12;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  body .art10 figure {
    margin-left: 0px;
  }
  body .art11 {
    -ms-grid-row: 13;
    grid-row: 13;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  body .art11 figure {
    margin-left: 0px;
  }
  body .art12 {
    -ms-grid-row: 14;
    grid-row: 14;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  body .art12 figure {
    margin-left: 0px;
  }
  body .menudroite {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 8;
    grid-row: 2/span 8;
    width: 100%;
    height: 100%;
    background: white;
    text-align: center;
    margin: auto;
    -webkit-transition: -webkit-transform .6s ease-in-out;
    transition: -webkit-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out;
    --webkit-transition: transform .6s ease-in-out;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }
  body .menudroite .couleur {
    margin-top: 15px;
  }
  body .menudroite .size {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body .menudroite .dsoustitre {
    font-weight: bold;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  body .numberpage {
    -ms-grid-row: 15;
    grid-row: 15;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  body .numberpage ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
  }
}
/*# sourceMappingURL=disposition.css.map */