body{
    footer{
        padding-left: 0%;
        padding-right: 0%;
        .containerfooter{
            display: grid;
            grid-template-columns: 25% 37.5% 37.5%;
            grid-template-rows: 1;
            .sociaux{
                grid-column: 2;
                word-spacing: .5em;
                text-align: center;

            }
            .payment{
                grid-column: 3;
                margin: auto;
            }
        }
    }
}