$black:#222;
$grey:#999;
$orange:#f68773;

body{

    margin: 0;
    padding: 0;
}

header{

    display: grid;
    // display: flex;
    
    height: 135px;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows:  1fr;
    grid-template-areas: 
    "img nav form section";
    padding-top: 25px;
    padding-left: 80px;
    background-color: rgb(242, 237, 233);
    
}
img{
    padding-top: 5%;
    grid-area: img;
    
}
nav{
    
    grid-area: nav;
    font-size: 18px; 
    
}
nav ul {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    text-decoration: none; color: white; 
    font-weight: bold;
    font-size: 20px
     
    
}
nav a{

  text-decoration: none; 
  color: $black; 
}
form{
    
    grid-area: form;
    display: flex;
    justify-content: flex-end;
    height: 30px;
    padding-top: 3%;
       
}
form input {

    border-radius: 10px;
    opacity: 0.5;
    outline: 0 none;
}
section{
    
    grid-area:section;
    display: flex;
    justify-content: flex-end;
    justify-content: space-evenly;
    padding-top: 7%;
    
}