body{

    // display: grid;
    // grid-template-columns: 1fr 1fr 2fr 1fr;
    // grid-template-rows: repeat(9, 1fr);
    display: flex;
    // grid-gap: 10px;
    color: black;
    margin: auto;
    flex-direction: column;
    align-items: flex-start;
   
    // flex-direction: flex-end;
    // grid-template-areas: 
    // "header header header header"
    // "nav nav nav nav"
    // "section1 section1 section1 section1"
    // "addtocart addtocart addtocart addtocart"
    // "categorie categorie categorie favproduct"
    // "intro intro introtexte introtexte"
    // "features features listevelvet listevelvet"
    // "chaussurerouge chaussurerouge footertexte footertexte"
    // "photo3ememenu phot3ememenu  phot3ememenu  phot3ememenu"
    // ;
}

header{

    grid-area: header;
}
nav{

    grid-area: nav;
}   
// nav a {

//     color:rgb(212, 200, 200);
// }
// nav span {
//     grid-area: ;
//     color:black;
// }

.section1{
    grid-area: section1;
    

}
.etoiles{
     background-color: rebeccapurple;
     grid-area: section1;
    
}
.addtocart{
    background-color: powderblue;
    grid-area: addtocart;
    
    
}.buynow{

    grid-area: addtocart;
    background-color: saddlebrown;
}
.categorie{
    grid-area: categorie;
    background-color: sandybrown;
}
.favproduct{
    grid-area: favproduct;
    background-color: rgb(255, 255, 255);
}
// .titresecondaire:nth-child(1){

//     background-color: seagreen;
//     grid-area: ;
// }
.intro{
    
    grid-area: intro;
}
.introtexte{

    grid-area: introtexte;
}

.features{

    grid-area: features;
}
.listevelvet{

    grid-area: listevelvet;

}
.chausssurerouge{
    grid-area: chaussurerouge;

}
.footertexte{
    grid-area: footertexte;

}
.photo3emmenu{
   
    grid-area: photo3emmenu;
}


