@font-face {
  font-family: robotobold;
  src: url("resources/Roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: roboto;
  src: url("resources/Roboto/Roboto-Regular.ttf");
}

body {
  padding-left: 15%;
  font-family: roboto;
  color: #222;
}

body .title {
  font-size: 24px;
  color: #222;
  font-weight: bold;
  letter-spacing: 0;
}

body .fa-star {
  color: #f68773;
}

body .circleblue i {
  color: #0457C0;
}

body .circlebrown i {
  color: #8C4B21;
}

body .artprice {
  color: #999;
}

body .rgrey {
  text-decoration: line-through;
}

body .newprice {
  color: #222;
}

body .sizecircle {
  border-radius: 50% 50% 50% 50%;
  background-color: rgba(200, 200, 200, 0.5);
}

body .sizesquare {
  border: solid;
  margin-right: 5px;
  color: #999;
  border-width: thin;
}

body .slidecontainer {
  width: 100%;
}

body .slider {
  color: #f68773;
}

body .menusection ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 15%;
  color: #999;
}

body .menusection ul .firstli {
  list-style: none;
}

body .containercomplet {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 30px 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 30px 1fr 1fr 1fr 1fr 1fr;
  padding-top: 5%;
}

body .containercomplet .titleshoes {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
}

body .containercomplet .itemsort {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
}

body .containercomplet .sortby {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 3;
  grid-column: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .art1 {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  padding-top: 3%;
}

body .art1 figure {
  margin-left: 0px;
}

body .art2 {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  grid-column: 2;
  padding-top: 3%;
}

body .art2 figure {
  margin-left: 0px;
}

body .art3 {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 3;
  grid-column: 3;
  padding-top: 3%;
}

body .art3 figure {
  margin-left: 0px;
}

body .art4 {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  grid-column: 1;
}

body .art4 figure {
  margin-left: 0px;
}

body .art5 {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 2;
  grid-column: 2;
}

body .art5 figure {
  margin-left: 0px;
}

body .art6 {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 3;
  grid-column: 3;
}

body .art6 figure {
  margin-left: 0px;
}

body .art7 {
  -ms-grid-row: 4;
  grid-row: 4;
  -ms-grid-column: 1;
  grid-column: 1;
}

body .art7 figure {
  margin-left: 0px;
}

body .art8 {
  -ms-grid-row: 4;
  grid-row: 4;
  -ms-grid-column: 2;
  grid-column: 2;
}

body .art8 figure {
  margin-left: 0px;
}

body .art9 {
  -ms-grid-row: 4;
  grid-row: 4;
  -ms-grid-column: 3;
  grid-column: 3;
}

body .art9 figure {
  margin-left: 0px;
}

body .art10 {
  -ms-grid-row: 5;
  grid-row: 5;
  -ms-grid-column: 1;
  grid-column: 1;
}

body .art10 figure {
  margin-left: 0px;
}

body .art11 {
  -ms-grid-row: 5;
  grid-row: 5;
  -ms-grid-column: 2;
  grid-column: 2;
}

body .art11 figure {
  margin-left: 0px;
}

body .art12 {
  -ms-grid-row: 5;
  grid-row: 5;
  -ms-grid-column: 3;
  grid-column: 3;
}

body .art12 figure {
  margin-left: 0px;
}

body .menudroite {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
  margin-top: -5px;
}

body .menudroite .couleur {
  margin-top: 15px;
}

body .menudroite .size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .menudroite .dsoustitre {
  font-weight: bold;
  padding-top: 5%;
  padding-bottom: 5%;
}

body .numberpage {
  -ms-grid-row: 6;
  grid-row: 6;
  -ms-grid-column: 2;
  grid-column: 2;
}

body .numberpage ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}
/*# sourceMappingURL=style.css.map */