@font-face {
    font-family: roboto;
    src: url("resources/Roboto/Roboto-Regular.ttf");
}
$black:#222;
$grey:#999;
$orange:#f68773;
$blue:#0457C0;
$brown:#8C4B21;

body {
    padding-left: 20%;
    padding-right: 20%;
    font-family: roboto;
    color: $black;
    .title{
        font-size: 24px;
        color: $black;
        font-weight: bold;
        letter-spacing: 0;
    }
    .fa-star{
        color: $orange;
    }
    .circleblue i{
        color: $blue;
    }
    .circlebrown i{
        color: $brown;
    }
    .artprice{
        color: $grey;
    }

    .menusection {
        display: flex;
        flex-direction: row;

        ul {
            display: flex;
            flex-direction: row;
        }
    }

    .containercomplet {
        display: grid;
        grid-template-columns: 4;
        grid-template-rows: 6;

        .titleshoes {
            grid-row: 1;
            grid-column: 1;
        }

        .itemsort {
            grid-row: 1;
            grid-column: 2;
        }

        .sortby {
            grid-row: 1;
            grid-column: 3;
            display: flex;
            flex-direction: row;
            justify-content: space-around;

        }
    }

    .art1 {
        grid-row: 2;
        grid-column: 1;

        figure {
            margin-left: 0px;
        }
    }

    .art2 {
        grid-row: 2;
        grid-column: 2;

        figure {
            margin-left: 0px;
        }
    }

    .art3 {
        grid-row: 2;
        grid-column: 3;

        figure {
            margin-left: 0px;
        }
    }

    .art4 {
        grid-row: 3;
        grid-column: 1;

        figure {
            margin-left: 0px;
        }
    }

    .art5 {
        grid-row: 3;
        grid-column: 2;

        figure {
            margin-left: 0px;
        }
    }

    .art6 {
        grid-row: 3;
        grid-column: 3;

        figure {
            margin-left: 0px;
        }
    }

    .art7 {
        grid-row: 4;
        grid-column: 1;

        figure {
            margin-left: 0px;
        }
    }

    .art8 {
        grid-row: 4;
        grid-column: 2;

        figure {
            margin-left: 0px;
        }
    }

    .art9 {
        grid-row: 4;
        grid-column: 3;

        figure {
            margin-left: 0px;
        }
    }

    .art10 {
        grid-row: 5;
        grid-column: 1;

        figure {
            margin-left: 0px;
        }
    }

    .art11 {
        grid-row: 5;
        grid-column: 2;

        figure {
            margin-left: 0px;
        }
    }

    .art12 {
        grid-row: 5;
        grid-column: 3;

        figure {
            margin-left: 0px;
        }
    }

    .menudroite {
        grid-column: 4;
        grid-row: 2;
        margin-top: -5px;
        .couleur{
            margin-top: 15px;
        }
        .size{
            margin-top: 15px;
            display: grid;
            
        }
        .price{
            margin-top: 15px;
        }
        .brand{
            margin-top: 15px;
        }
        .dsoustitre{
            font-weight: bold;
        }
    }

    .numberpage {
        grid-row: 6;
        grid-column: span 3;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}