body{
    footer{
        padding-left: 0%;
        padding-right: 0%;
        .containerfooter{
            display: grid;
            grid-template-columns: 25% 37.5% 37.5%;
            grid-template-rows: 1;
            .sociaux{
                grid-column: 2;
                word-spacing: .5em;
                text-align: center;

            }
            .payment{
                grid-column: 3;
                margin: auto;
            }
        }
    }
}
@media only screen and (max-width: 520px) {
    body{
        footer{
            padding-left: 0%;
            padding-right: 0%;
            .containerfooter{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1;
                .sociaux{
                    grid-column: 1;
                    word-spacing: .5em;
                    text-align: center;
    
                }
                .payment{
                    grid-column: 2;
                    margin: auto;
                }
            }
        }
    }

}