$black:#222;
$grey:#999;
$orange:#f68773;

@media only screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    //début header
    header.tophead{
        display: grid;
        width: 85%;
        grid-template-columns: 1fr 0% 0% 1fr;
        grid-template-rows: 50px;
        grid-template-areas: "img nav form section";
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
      
      img {
        padding-top: 5%;
        grid-area: img; }
      
      nav {
        display: block;
        visibility: visible;
        grid-column: 1 / 5;
        grid-row: 1;
        font-size: 18px;
        height: 0px;
        &.burger {
            position: fixed;
            background: white;
            z-index: 1;
            height: 33vh;
            width: 100%;
            text-align: left;
            margin-left: -7.5%;
            transition: transform .6s ease-in-out;
            transform: translateY(-150%);

            &.isOpen{
                transform: translateY(0%);
            }

            ul{
                position: absolute;
                top: 50%;
                width: 80%;
                transform: translateY(-50%);
                padding-left: 0px;
                display: list-item;
                justify-content: left;
                padding-left: 10%;
                li{
                    margin-bottom: 15px;
                    border-bottom: solid 0.5px rgba($color: rgb(15, 15, 15), $alpha: 0.5);
                    span{
                        margin-right: 0px;
                    }
                    a{
                        color: $grey;
                    }
                }
            }
     }
    }
      
      nav ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style: none;
        li{
            width: auto;
        a{
            .linkwou{
            text-transform: none;
        }
        }
        span{
            float: right;
            margin-right: 5%;
    }
    }
}
      
      form {
        visibility: hidden;
        grid-area: form;
        display: inline-flex;
        justify-self: right;
        width: 60%;
        height: 30px;
        margin-top: 3%;
        input{
            width: 0px;
            border: none;
            padding-left: 5px;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
        }
        button{
            width: 0px;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            background-color: white;
            border: none;
        }
    }
      
    section {
        grid-area: section;
        display: flex;
        justify-content: space-between;
        // justify-content: space-evenly;
        padding-top: 8%;
            a{
            padding-right: 0px;
                &.burger{
                visibility: visible;
                width: auto;
                    i{
                    width: auto;
                    }
                }
            }
}
}
    .stitle{
        font-size: 24px;
    }
    .headerhome{
        display: grid;
        width: 100%;
        height: 65vh;
        grid-template-columns: 1;
        grid-template-rows: 90% 10%;
        margin: 0px;
        background-image: url(../../images/abc.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    aside{
        grid-row: 2;
        grid-column: 1 / 3;
        justify-self: center;
        margin-top: 25px;
        a{
            text-decoration: none;
            color: $grey;
        }
    }
    article.headshoes{
        grid-column: 2;
        margin-top: auto;
        margin-bottom: auto;
    }
    .label{
        display: block;
        grid-column: 2;
    }
    .homebanner{
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 300px;
        margin: 0px;
        .hbanner1{
            display: block;
            background-image: url(../../images/banner_h1_1.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            .aleft{
                width: 50%;
                margin-left: 10%;
                margin-top: 50px;
                margin-bottom: 50px;
            }
        }
        .hbanner2{
            background-image: url(../../images/banner_h1_2.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            .acenter{
                display: block;
                width: 50%;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                margin-top: 50px;
                margin-bottom: 50px;
                .wcom{
                    padding-bottom: 5%;
                    font-size: 18px;
                    color: white;
                }
            }
        }
        .hbanner3{
            background-image: url(../../images/banner_h1_3.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            .aright{
                display: block;
                text-align: left;
                margin-left: 60%;
                margin-top: 50px;
                margin-bottom: 50px;
            }
        }
    }
main{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    .gridtop{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 100px;
        .ts1{
            visibility: hidden;
            height: 0px;
            }
        .ts2{
            grid-row: 1;
            grid-column: 1 / span 3;
            background-image: url(../../images/bsl2.jpg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: right;
            * .deutop{
                width: 25%;
                margin-top: 10%;
                }
        }
        .ts3{grid-row: 2;
            grid-column: 1 / span 3;
            background-image: url(../../images/bsl3.jpg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: right;
             * .tritop{
                 width: 25%;
                 margin-top: 10%;
             }
        }
        .ts4{
            visibility: hidden;
            height: 0px;

        }
    }
}
.sectitle{
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 3;
    .cgrey.com{
        font-size: 10px;
        grid-row: 2;
        grid-column: 1 / 3;
    }
}
.catmenu{
    grid-row: 3;
    grid-column: 60%;
    ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding-inline-start: 0px;
    padding-bottom: 10px;
    li a.linkwou{
        font-size: 10px;
    }
}
}
.newarrival{
    grid-row: 1;
    grid-column: 1;
    margin-top: 100px;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
    align-self: end;
}
.gridgallery{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    // width: 100%;
    :nth-child(1){
        justify-self: left;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    :nth-child(2){
        justify-self: right;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    :nth-child(3){
        justify-self: left;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    :nth-child(4){
        justify-self: right;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    :nth-child(5){
        justify-self: left;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    :nth-child(6){
        justify-self: right;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    .footsec{
        grid-column: 1 / 3;
        text-align: center;
        padding-top: 10%;
    }
    div{
        .label{
            margin-bottom: 15px;
            .artrate{
                margin-top: 10px;
                margin-bottom: 10px;
            }
        
        }
    }
    figure{
        display: block;
        margin-block-start: 0px;
        margin-block-end: 0px;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        img{
            max-width: 100%;
            margin-bottom: 15px;
        }
    }
}
.dotd{
    margin-top: 10%;
    width: 100%;
    article{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        background-image: url(../../images/deals_image.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-left: 0px;
        header div.label{
            width: 85%;
            padding-top: 100px;
            padding-bottom: 100px;
            margin-left: auto;
            margin-right: auto;
            .cdgrid{
                background-color: white;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(2, 1fr);
                width: 50%;
                margin-top: 5%;
                span{
                    display: flex;
                    justify-self: center;
                    align-self: center;
                    font-size: 20px;
                    font-weight: bold;
                    padding-top: 20px;
                }
                p{
                    text-align: center;
                    margin-block-start: .5em;
                    margin-block-end: 0px;
                    font-size: 10px;
                    padding-bottom: 0px;
                }
            }
            div.dotdd{
                margin-top: 50px;
            }
        }
    }
}
.lastnews{
        display: grid;
        grid-template-columns: 60% 40%;
        font-size: 32px;
        font-weight: bold;
        padding-bottom: 10px;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        .stitle{
            margin-top: 10px;
        }
        div.cgrey.com{
            grid-column: 1 / 3;
            grid-row: 2;
            font-size: 10px;
        }
        div.morenews{
            font-size: 12px;
            grid-row: 1;
            grid-column: 2;
            justify-self: right;
            align-self: flex-end;
            margin-bottom: 20px;
            .link{
                font-size: 12px;
            }
        }
        div.subscribe{
            grid-row: 1;
            grid-column: 2;
            width: 100%;
            border-bottom: solid .5px $grey;
            margin-bottom: 10px;
            i{
                font-size: 10px;
                padding-top: 20px;
                float: left;
                width: 5%;
            }
            input{
                font-size: 10px;
                width: 50%;
                border: none;
            }
            a{
                font-size: 10px;
                display: block;
                width:auto;
                float: right;
                padding-top: 20px;
                text-align: right;
            }
        }
}
.lastgrid{
    display: grid;
    width:85%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-auto-flow: row;
    grid-template-areas:
                        "img1 img1"
                        "tex1 tex1"
                        "img2 img3"
                        "tex2 tex3";
        :nth-child(1){
            grid-area: img1;
            min-width: 100%;
        }
        :nth-child(2){
            grid-area: tex1;
            margin-bottom: 15px;

        }
        :nth-child(3){
            grid-area: img2;
            margin-right: 5%;
            margin-bottom: 15%;
        }
        :nth-child(4){
            grid-area: tex2;
        }
        :nth-child(5){
            grid-area: img3;
            margin-left: 5%;

        }
        :nth-child(6){
            grid-area: tex3;
        }
    figure{
        display: block;
        margin-block-start: 0px;
        margin-block-end: 0px;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        img{
            width: 100%;
        }
        div{
            position: relative;
            margin-top: 0px;
            top: -50%;
            text-align: center;
            font-size: 36px;
        }
    }
}
.followbanner{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 0px;
    width: 100%;
    z-index: 1;
    margin-top: 5%;
    :nth-child(6){
        visibility: hidden;
    }
    :nth-child(7){
        visibility: hidden;
    }
    img{
        width: inherit;
        display: block;
        object-fit: cover;
    }
    .followbloc{
        grid-column: 3;
        display: block;
        width: 50%;
        height: 35px;
        justify-self: center;
        padding: 10px;
        background-color: $orange;
        text-align: center;
        margin-top: -50%;
        div{
            .follow{
                color: white;
                padding-bottom: 5px;
                font-size: 8px;
            }
            .hashtag{
                color: white;
                font-weight: bold;
                font-size: 12px;
            }
    }
}
}
.linkbanner{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 0px 1fr 1fr 1fr;
    grid-template-rows: 1;
    margin-top: 100px;
    ul:first-of-type{
        visibility: hidden;
    }
    ul{
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: repeat(5, 15%);
        list-style: none;
        color: $grey;
        padding-inline-start: 0px;
        li:first-of-type{
            color:$black;
            padding-bottom: 10%;
            font-size: 12px;
        }
        li span{
            color: $grey;
            font-size: 10px;
            font-weight: lighter;
            i.google{
                font-size: 2em;
                float: left;
            }
        }
        li a{
            color: $grey;
            font-size: 10px;
            font-weight: lighter;
        }
    }
}
.ban{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1;
    width: 85%;
    margin-top: 5%;
    padding-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    .copyright{
        font-size: 12px;
        letter-spacing: normal;
        strong{
            color:$black;
        }
    }
    .social{
        justify-self: center;
        margin-top: 10px;
        a
        {color:$grey;
        }
    }
    .payement{
        display:flex;
        justify-self: right;
        figure{
            margin-block-end: 0px;
            margin-block-start: 0px;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-left: 10px;
        }
    }
}
}

//mobileee responsive design

@media only screen and (max-width: 520px){

    body{
        overflow-x: hidden;
    }

//début header
    header.tophead{
        display: grid;
        width: 85%;
        grid-template-columns: 1fr 0% 0% 1fr;
        grid-template-rows: 50px;
        grid-template-areas: "img nav form section";
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
      
      img {
        padding-top: 5%;
        grid-area: img; }
      
      nav {
        display: block;
        visibility: visible;
        grid-column: 1 / 5;
        grid-row: 1;
        font-size: 18px;
        height: 0px;
        &.burger {
            position: fixed;
            background: white;
            margin-top: 0px;
            z-index: 1;
            width: 90%;
            height: 50vh;
            margin-left: -2%;
            text-align: left;

            transition: transform .6s ease-in-out;
            transform: translateY(-100%);

            &.isOpen{
                transform: translateY(0%);
            }

            ul{
                position: absolute;
                top: 50%;
                width: 100%;
                transform: translateY(-50%);
                padding-left: 0px;
                display: list-item;
                justify-content: left;
                li{
                    margin-bottom: 15px;
                    border-bottom: solid 0.5px rgba($color: #999, $alpha: 0.5);
                    a{
                        color: $grey;
                    }
                }
            }
     }
    }
      
      nav ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style: none;
        margin-top: -25px;
        li{
            width: auto;
        a{
            .linkwou{
            text-transform: none;
        }
        }
        span{
            float: right;
            margin-right: 5%;
        }
    }
}
      
      form {
        visibility: hidden;
        grid-area: form;
        display: inline-flex;
        justify-self: right;
        width: 60%;
        height: 30px;
        margin-top: 3%;
        input{
            width: 0px;
            border: none;
            padding-left: 5px;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
        }
        button{
            width: 0px;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            background-color: white;
            border: none;
        }
    }
      
    section {
        grid-area: section;
        display: flex;
        justify-content: space-between;
        // justify-content: space-evenly;
        padding-top: 8%;
            a{
            padding-right: 0px;
                &.burger{
                visibility: visible;
                width: auto;
                    i{
                    width: auto;
                    }
                }
            }
}
}
//fin du header

    .stitle{
        font-size: 24px;
    }
    .headerhome{
        display: grid;
        width: 85%;
        height: 65vh;
        grid-template-columns: 1fr;
        grid-template-rows: 90% 10%;
        background-image: url(../../images/abc.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: auto;
        margin-right: auto;
    }
    aside{
        grid-row: 2;
        grid-column: 1;
        justify-self: center;
        margin-top: 0px;
        a{
            text-decoration: none;
            color: $grey;
        }
    }
    article.headshoes{
        margin-left: 10%;
        grid-column: 1;
        margin-top: auto;
        margin-bottom: auto;
        .preview{
            font-size: 14px;
        }
        .artnameh1{
            font-size: 24px;
        }
        .link{
            font-size: 10px;
        }
    }
    .label{
        display: block;
        grid-column: 1;
    }
    .homebanner{
        display: grid;
        width: 85%;
        grid-template-columns: 1fr;
        grid-template-rows: 300px;
        margin: 0px;
        margin-left: auto;
        margin-right: auto;
        .hbanner1{
            display: block;
            background-image: url(../../images/banner_h1_1.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: right;
            .aleft{
                width: 50%;
                margin-left: 10%;
                margin-top: 80px;
                margin-bottom: 50px;
                .bartnameh3{
                    font-size: 24px;
                }
                .link{
                    font-size: 10px;
                }
            }
        }
        .hbanner2{
            background-image: url(../../images/banner_h1_2.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            .acenter{
                display: block;
                width: 60%;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                margin-top: 50px;
                margin-bottom: 50px;
                .wartnameh3{
                    font-size: 24px;
                }
                .wlink{
                    font-size: 10px;
                }
                .wcom{
                    padding-bottom: 5%;
                    font-size: 12px;
                    color: white;
                }
            }
        }
        .hbanner3{
            background-image: url(../../images/banner_h1_3.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: left;
            .aright{
                display: block;
                text-align: left;
                margin-left: 50%;
                margin-top: 50px;
                margin-bottom: 50px;
                .cgrey.com{
                    font-size: 12px;
                }
                .bartnameh3{
                    font-size: 24px;
                }
                .link{
                    font-size: 10px;
                }
            }
        }
    }
main{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    .gridtop{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        .ts1{
            visibility: visible;
            grid-row: 1;
            grid-column: 1;
            background-image: url(../../images/bsl1.jpg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: top;
            height: auto;
               * .pretop{
                .artname{
                    font-size: 14px;
                    padding-bottom: 25px;
                }
                width: 100%;
                padding-top: 110%;
                }
            }
        .ts2{
            grid-row: 2;
            grid-column: 1;
            background-image: url(../../images/bsl2.jpg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: top;
            * .deutop{
                .bartnameh3{
                    font-size: 14px;
                    padding-bottom: 25px;
                }
                width: 100%;
                padding-top: 100%;
                }
        }
        .ts3{grid-row: 3;
            grid-column: 1;
            background-image: url(../../images/bsl3.jpg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: top;
             * .tritop{
                .bartnameh3{
                    font-size: 14px;
                    padding-bottom: 25px;
                }
                width: 100%;
                padding-top: 100%;
                }
        }
        .ts4{
            grid-row: 4;
            grid-column: 1;
            background-image: url(../../images/bsl4.jpg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: top;
            visibility: visible;
            height: auto;
             * .quatop{
                .artname{
                    font-size: 14px;
                    padding-bottom: 25px;
                }
                width: 100%;
                padding-top: 110%;
                }
        }
    }
}
.sectitle{
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 3;
    .cgrey.com{
        font-size: 10px;
        letter-spacing: normal;
        grid-row: 2;
        grid-column: 1 / 3;
    }
}
.catmenu{
    grid-row: 3;
    grid-column: 1 / 3;
    ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding-inline-start: 0px;
    padding-bottom: 10px;
    li a.linkwou{
        font-size: 8px;
    }
}
}
.newarrival{
    grid-row: 1;
    grid-column: 1;
    margin-top: 100px;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
    align-self: end;
}
.gridgallery{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-gap: 20px;
    :nth-child(1){
        justify-self: left;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    :nth-child(2){
        justify-self: right;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    :nth-child(3){
        justify-self: left;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    :nth-child(4){
        justify-self: right;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    :nth-child(5){
        justify-self: left;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    :nth-child(6){
        justify-self: right;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    .footsec{
        grid-column: 1 / 3;
        text-align: center;
        padding-top: 10%;
    }
    div{
        .label{
            margin-bottom: 15px;
            .artname.gal .linkwou{
                font-size: 10px;
                letter-spacing: .1em;
            }
            .artrate{
                font-size: 10px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            .artprice.gal{
                font-size: 10px;
            }
        }
    }
    .footsec{
        padding-bottom: 15%;
        a.link{
        font-size: 12px;
    }
    }
    figure{
        display: block;
        margin-block-start: 0px;
        margin-block-end: 0px;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        img{
            max-width: 100%;
            margin-bottom: 15px;
        }
    }
}
.dotd{
    margin-top: 10%;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    article{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        background-image: url(../../images/deals_image.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
        margin-left: 0px;
        header div.label{
            width: 85%;
            padding-top: 100px;
            padding-bottom: 100px;
            margin-left: auto;
            margin-right: auto;
            .bartnameh3{
                font-size: 24px;
            }
            .promo .instock{
                visibility: hidden;
            }
            .cdgrid{
                background-color: white;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(2, 1fr);
                width: 100%;
                margin-top: 5%;
                span{
                    display: flex;
                    justify-self: center;
                    align-self: center;
                    font-size: 20px;
                    font-weight: bold;
                    padding-top: 20px;
                }
                p{
                    text-align: center;
                    margin-block-start: .5em;
                    margin-block-end: 0px;
                    font-size: 10px;
                    padding-bottom: 0px;
                }
            }
            div.dotdd{
                margin-top: 50px;
                .link{
                    font-size: 12px;
                }
            }
        }
    }
}
.lastnews{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        font-size: 32px;
        font-weight: bold;
        padding-bottom: 10px;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        .stitle{
            margin-top: 10px;
        }
        div.cgrey.com{
            grid-column: 1;
            grid-row: 2;
            font-size: 10px;
        }
        div.morenews{
            font-size: 12px;
            grid-row: 3;
            grid-column: 1;
            justify-self: left;
            align-self: flex-end;
            margin-bottom: 20px;
            .link{
                font-size: 12px;
            }
        }
        div.subscribe{
            grid-row: 3;
            grid-column: 1;
            width: 100%;
            border-bottom: solid .5px $grey;
            margin-bottom: 10px;
            i{
                font-size: 10px;
                padding-top: 20px;
                float: left;
                width: 5%;
            }
            input{
                font-size: 10px;
                width: 50%;
                border: none;
            }
            a{
                font-size: 10px;
                display: block;
                width:auto;
                float: right;
                padding-top: 20px;
                text-align: right;
            }
        }
}
.lastgrid{
    display: grid;
    width:85%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    grid-template-columns: 1fr;
    grid-template-rows: 187px auto;
    // grid-auto-flow: row;
    grid-template-areas:
                        "img1"
                        "tex1"
                        "img2"
                        "tex2"
                        "img3"
                        "tex3";
        :nth-child(1){
            grid-area: img1;
        }
        :nth-child(2){
            grid-area: tex1;
            div{
                margin-top: 40px;
            }
            .autor{
                margin-top: 0%;
            }
        }
        :nth-child(3){
            grid-area: img2;
            margin-bottom: 5%;
            margin-right: 0%;
        }
        :nth-child(4){
            grid-area: tex2;
            margin-bottom: 5%;
            .autor{
                margin-top: 0%;
            }
        }
        :nth-child(5){
            grid-area: img3;
            margin-left: 0px;
            margin-bottom: 5%;

        }
        :nth-child(6){
            grid-area: tex3;
            margin-bottom: 5%;
            .autor{
                margin-top: 0%;
            }
        }
    figure{
        display: block;
        margin-block-start: 0px;
        margin-block-end: 0px;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        margin-bottom: 5%;

        img{
            width: 100%;
        }
        div{
            position: relative;
            top: -50%;
            transform: translateY(-50%);
            margin-top: 0px;
            text-align: center;
            font-size: 36px;
        }
    }
}
.followbanner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 0px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    margin-top: 5%;
    :nth-child(4){
        visibility: hidden;
        height: 0px;
    }
    :nth-child(5){
        visibility: hidden;
        height: 0px;
    }
    :nth-child(6){
        visibility: hidden;
        height: 0px;
    }
    :nth-child(7){
        visibility: hidden;
        height: 0px;
    }
    img{
        width: 100%;
        display: block;
        object-fit: cover;
    }
    .followbloc{
        visibility: hidden;
        grid-column: 3;
        display: block;
        width: 50%;
        height: 35px;
        justify-self: center;
        padding: 10px;
        background-color: $orange;
        text-align: center;
        margin-top: -50%;
        div{
            .follow{
                color: white;
                padding-bottom: 5px;
                font-size: 8px;
            }
            .hashtag{
                color: white;
                font-weight: bold;
                font-size: 12px;
            }
    }
}
}
.linkbanner{
    // width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 0% 50% 50%;
    grid-template-rows: 0px 1fr 1fr;
    margin-top: 25px;
    padding-bottom: 15px;
    border-bottom: solid 0.5px $grey;
    ul:first-of-type{
        display: grid;
        grid-template-columns: 0px;
        grid-template-rows: 0px;
        list-style: none;
        color: $grey;
        padding-inline-start: 0px;
        grid-template-columns: 1;
        visibility: hidden;
        width: 0px;
    }
    ul:nth-child(2){
        display: grid;
        grid-column: 2;
        grid-row: 2;
        grid-template-columns: 100%;
        grid-template-rows: repeat(5, 20%);
        list-style: none;
        color: $grey;
        padding-inline-start: 0px;
        width: 100%;
        li:first-of-type{
            color:$black;
            padding-bottom: 10%;
            font-size: 10px;
            letter-spacing: .2em;
        }
        li span{
            color: $grey;
            font-size: 9px;
            font-weight: lighter;
            i.google{
                font-size: 2em;
                float: left;
            }
        }
        li a{
            color: $grey;
            font-size: 8px;
            font-weight: lighter;
            letter-spacing: .2em;
        }
    }
    ul:nth-child(3){
        display: grid;
        grid-column: 3;
        grid-row: 2;
        grid-template-columns: 100%;
        grid-template-rows: repeat(5, 20%);
        list-style: none;
        color: $grey;
        padding-inline-start: 0px;
        width: 100%;
        li:first-of-type{
            color:$black;
            padding-bottom: 10%;
            font-size: 10px;
            letter-spacing: .2em;
        }
        li span{
            color: $grey;
            font-size: 9px;
            font-weight: lighter;
            i.google{
                font-size: 2em;
                float: left;
            }
        }
        li a{
            color: $grey;
            font-size: 8px;
            font-weight: lighter;
            letter-spacing: .2em;
        }
    }
    ul:nth-child(4){
        display: grid;
        grid-column: 2;
        grid-row: 3;
        grid-template-columns: 100%;
        grid-template-rows: repeat(5, 20%);
        list-style: none;
        color: $grey;
        padding-inline-start: 0px;
        width: 100%;
        li:first-of-type{
            color:$black;
            padding-bottom: 10%;
            font-size: 10px;
            letter-spacing: .2em;
        }
        li span{
            color: $grey;
            font-size: 9px;
            font-weight: lighter;
            i.google{
                font-size: 2em;
                float: left;
            }
        }
        li a{
            color: $grey;
            font-size: 8px;
            font-weight: lighter;
            letter-spacing: .2em;
        }
    }
    }
    // ul{
    //     display: grid;
    //     grid-template-columns: 100%;
    //     grid-template-rows: repeat(5, 20%);
    //     list-style: none;
    //     color: $grey;
    //     padding-inline-start: 0px;

    //     li span{
    //         color: $grey;
    //         font-size: 9px;
    //         font-weight: lighter;
    //         i.google{
    //             font-size: 2em;
    //             float: left;
    //         }
    //     }
    //     li a{
    //         color: $grey;
    //         font-size: 10px;
    //         font-weight: lighter;
    //         letter-spacing: .2em;
    //     }
    // }
.ban{
    display: grid;
    grid-template-columns: 70% 30%;
    width: 85%;
    margin-top: 5%;
    padding-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    .copyright{
        grid-column: 1 / 2;
        font-size: 12px;
        letter-spacing: normal;
        strong{
            color:$black;
        }
    }
    .social{
        visibility: hidden;
        width: 0px;
        display: flex;
        justify-self: right;
        margin-top: 10px;
        a
        {color:$grey;
            width: 0px;
        }
    }
    .payement{
        visibility: hidden;
        display:flex;
        justify-self: right;
        width: 0px;
        figure{
            width: 0px;
            margin-block-end: 0px;
            margin-block-start: 0px;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-left: 10px;
        }
    }
}
}
