$black:#222;
$grey:#999;
$orange:#f68773;

.headerhome{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 5% 1fr 20%;
    grid-template-rows: 1;
    margin: 0px;
    background-image: url(../../images/abc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    aside{
        display: flex;
        flex-direction: column;
        margin-top: auto;
        margin-bottom: auto;
        a{
            padding-top: 10%;
            padding-bottom: 10%;
            padding-left: 80%;
            text-decoration: none;
            color: $grey;
        }
    }
    article.headshoes{
        grid-column: 3;
        margin-top: auto;
        margin-bottom: auto;
    }
    .label{
        display: block;
        grid-column: 3;
    }
}
.homebanner{
    display: grid;
    width: 100%;
    height: 33vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 0px;
    .hbanner1{
        display: block;
        grid-column: 1;
        grid-row: 1;
        background-image: url(../../images/banner_h1_1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        .aleft{
            width: 50%;
            margin-left: 10%;
            margin-top: 11vh;
        }
    }
    .hbanner2{
        grid-column: 2;
        grid-row: 1;
        background-image: url(../../images/banner_h1_2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        .acenter{
            display: block;
            width: 50%;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 8vh;
            .wcom{
                padding-bottom: 5%;
                font-size: 18px;
                color: white;
            }
        }
    }
    .hbanner3{
        grid-column: 3;
        grid-row: 1;
        background-image: url(../../images/banner_h1_3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        .aright{
            display: block;
            width: 50%;
            text-align: left;
            margin-left: 60%;
            margin-top: 8vh;
        }
    }
}
main{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    .gridtop{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 100px;
        .ts1{
            grid-row: 1;
            grid-column: 1;
            margin-top: 25%;
            background-image: url(../../images/prd_03_1.jpg);
            background-repeat: no-repeat;
            background-size: contain;
            * .pretop{
                margin-left: 5%;
                margin-top: 95%;
                }
            }
        .ts2{
            grid-row: 1;
            grid-column: 2 / span 2;
            background-image: url(../../images/bsl2.jpg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: right;
            * .deutop{
                width: 25%;
                margin-left: 10%;
                margin-top: 10%;
                }
        }
        .ts3{
            grid-row: 2;
            grid-column: 1 / span 2;
            background-image: url(../../images/bsl3.jpg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: right;
            margin-right: 15%;
            * .tritop{
                width: 25%;
                margin-top: 10%;
            }
        }
        .ts4{
            grid-row: 2;
            grid-column: 3;
            background-image: url(../../images/prd_17_1.jpg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: right;
            * .quatop{
                width: 75%;
                margin-left: 5%;
                margin-top: 130%;
            }
        }
    }
}
.sectitle{
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2;
}
.catmenu {
    grid-row: 1;
    grid-column: 2;
    ul{
    margin-top: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: end;
    list-style: none;
    }
}
.newarrival{
    grid-row: 1;
    grid-column: 1;
    margin-top: 100px;
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 10px;
    align-self: end;
}
.gridgallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(auto);
    :nth-child(1){
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    :nth-child(2){
        justify-self: center;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    :nth-child(3){
        justify-self: right;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    :nth-child(4){
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    :nth-child(5){
        justify-self: center;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    :nth-child(6){
        justify-self: right;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    .footsec{
        grid-column: 2;
        text-align: center;
        padding-top: 33%;
    }
}
.dotd{
    margin-top: 10%;
    width: 100%;
    article{
        // grid-template-columns: 1fr;
        // grid-template-rows: 1fr;
        background-image: url(../../images/deals_image.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
        margin-left: 0px;
        height: 700px;
        header div.label{
            width: 60%;
            height: 500px;
            margin-left: auto;
            margin-right: auto;
            padding-top: 100px;
            padding-bottom: 100px;
            .cdgrid{
                background-color: white;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(2, 1fr);
                width: 50%;
                margin-top: 5%;
                span{
                    display: flex;
                    justify-self: center;
                    align-self: center;
                    font-size: 24px;
                    font-weight: bold;
                    padding-top: 5px;
                }
                p{
                    text-align: center;
                    margin-block-start: .5em;
                    margin-block-end: 0px;
                    font-size: 12px;
                    padding-bottom: 0px;
                }
            }
            div.dotdd{
                margin-top: 50px;
            }
        }
    }
}
.lastnews{
        display: grid;
        grid-template-rows: 2;
        grid-template-columns: 2;
        margin-top: 100px;
        font-size: 32px;
        font-weight: bold;
        padding-bottom: 10px;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        div.cgrey.com{
            padding-top: 10px;
            grid-column: 1;
            grid-row: 2;
        }
        div.morenews{
            grid-row: 2;
            grid-column: 2;
            justify-self: right;
            align-self: initial;
        }
    }
.lastgrid{
    display: grid;
    width:60%;
    height:378px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    grid-template-columns: repeat(3, 370px);
    grid-template-rows: 250px 1fr;
    grid-template-areas:
                        "img1 img2 img3"
                        "tex1 tex2 tex3";
    :nth-child(1){
            grid-area: img1;
        }
        :nth-child(2){
            grid-area: tex1;
        }
        :nth-child(3){
            grid-area: img2;
        }
        :nth-child(4){
            grid-area: tex2;
        }
        :nth-child(5){
            grid-area: img3;
        }
        :nth-child(6){
            grid-area: tex3;
        }
        :nth-child(2n + 2){
            margin-top: 20px;
        }
    figure{
        display: block;
        margin-block-start: 0px;
        margin-block-end: 0px;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        img{
            max-height: 250px;
            width: 370px;
        }
        div{
            position: relative;
            text-align: center;
            bottom: 150px;
            font-size: 36px;
        }
    }
}