@font-face{
    font-family: roboto;
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

$black:#222;
$grey:#999;
$orange:#f68773;


body{
    font-family:roboto;
    color: $black;
    letter-spacing: .2em;
}

.preview{
    font-size: 18px;
    color: $orange;
    padding-bottom: 5%;
}
.artnameh1{
    font-size: 82px;
    font-weight: bold;
    padding-bottom: 10%;
}
.link{
    padding-bottom: 5px;
    border-bottom: solid 1px $black;
    font-size: 14px;
    font-weight: bold;
    color: $black;
    text-transform: uppercase;
    text-decoration: none;
}
.wlink{
    padding-bottom: 5px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    text-decoration: none;
    border-bottom: solid 1px white;
}
.bartnameh3{
    font-size: 44px;
    font-weight: bold;
    padding-bottom: 50px;
}
.cgrey {
    color: $grey;
}
.com{
    font-size: 18px;
    padding-bottom: 5%;
}
.wartnameh3{
    color: white;
    font-size: 44px;
    font-weight: bold;
    padding-bottom: 15%;
}
.stitle{
    margin-top: 10%;
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 10px;
}
.artname{
    font-size: 26px;
    font-weight: bold;
    padding-bottom: 5%;
}
.artprice{
    padding-bottom: 25px;
}