$black:#222;
$grey:#999;
$orange:#f68773;
$bgrey: rgba($color: #999999, $alpha: 0.5);



@mixin figmargin{

    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.subtitle{
    font-size:24px;
    font-weight: bold;
}
.comments{
    font-size: 12px;
    letter-spacing: .1em;
}

@media only screen and (min-width: 769px){

    header.tophead{
    display: grid;
    height: 100px;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 50px;
    grid-template-areas: "img nav form section";
    padding-left: 4%;
    border-bottom: solid $bgrey 1px;
  
  img {
    padding-top: 5%;
    grid-area: img; }
  
  nav {
    grid-area: nav;
    font-size: 18px; 
    
}
  
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
        li{
            span{
                visibility: hidden;
                a i{
                    width: 0px;
                }
            }
        }
        li a.linkwou{
        text-transform: none;
        }
    }
  
  form {
    grid-area: form;
    display: inline-flex;
    justify-self: right;
    width: 80%;
    height: 30px;
    margin-top: 3%;
    input{
        border:{
            left:solid 1px $bgrey;
            top:solid 1px $bgrey;
            bottom:solid 1px $bgrey;
            right:none;
        }
        padding-left: 5px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    button{
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        background-color: white;
        border:{
            left:none;
            top:solid 1px $bgrey;
            bottom:solid 1px $bgrey;
            right:solid 1px $bgrey;
        }
    }
}
  
  section {
    grid-area: section;
    display: flex;
    justify-content: flex-end;
    padding-top: 8%;
        a{
        padding-right: 15px;
            &.bburger{
            visibility: hidden;
            width: 0px;
            width: 0%;
                i{
                width: 0%;
                }
            }
        }
    }
    }

    main{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        nav{
            margin-top: 5%;
            ul.nodeco{
                display: flex;
                justify-content: left;
                list-style: none;
                flex-direction: row;
                li{
                    padding-left: 20px;
                    text-transform: none;
                }
            }
        }
        .gallerie{
            display:grid;
            column-gap: 5%;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(11, auto) 100px;
            .grosplan{
                @include figmargin;
                width: auto;
                grid-column: 1;
                grid-row: 1 / 10;
                img{
                    width: 100%;
                }
            }
            .thumb{
                grid-column: 1;
                grid-row: 10;
                display: grid;
                grid-gap: 10px;
                grid-template-columns: 4;
                grid-template-rows: 1;
                height: 100%;
                width: 50%;
                :first-child{
                    opacity: 1;
                }
                figure{
                    @include figmargin;
                    opacity: 0.5;
                    grid-row: 1;
                }
            }
        }
        .col2{
            grid-column: 2;
            grid-row: 1;
            padding-bottom: 0px;
            .review{
                padding-left: 15px;
            }
        }
        .artname{
            grid-column: 2;
            grid-row: 2;
            padding-bottom: 0px;
        }
        .ref{
            grid-column: 2;
            grid-row: 3;
            font-size: 10px;
            letter-spacing: 0em;
        }
        .artprice{
            padding-bottom: 0px;
            del{
                padding-left: 10px;
            }
        }
        .desc{
            font-size: 12px;
            letter-spacing: 0.1em;
            @include figmargin;
        }
        .colorselect{
            font-size: 20px;
            letter-spacing: 0.1em;
            margin-top: 15px;
            i{
                padding-right: 10px;
            }
        }
        .artsize{
            font-size: 16px;
        }
        div.select{
            display: flex;
            flex-direction: row;
            height: 20px;
            justify-content: space-between;
            margin-top: 15px;
            .qty{
                display: flex;
                border: solid 2px $grey;
                float: left;
                height: 18px;
                padding: 10px;
                width: 40%;
                justify-content: space-between;
                i{
                    font-size: 12px;
                    padding-top: 5px;
                }
                span{
                    align-content: center;
                }
            }
            .cart{
            background: $black;
            color: white;
            font-size: 12px;
            width: 40%;
            height: 27px;
            @include figmargin;
            text-align: center;
            vertical-align: middle;
            padding-top: 15px;
            }
            .heart{
                height: 42px;
                margin-top: 15px;
            }
        }
        div.buy{
            display: block;
            height: 42px;
            margin-top: 15px;
            width: 100%;
            .cart{
                background: $black;
                color: white;
                font-size: 12px;
                width: 100%;
                height: 27px;
                @include figmargin;
                text-align: center;
                vertical-align: middle;
                padding-top: 15px;
                }
        }
        div.resume{
            grid-column: 2;
            border-top: solid 1px $bgrey;
            p{
                font-size: 12px;
            }
        }
    div.lasttab{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        .banner{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            border-top: solid 1px $bgrey;
            border-bottom: solid 1px $bgrey;
            font-size: 14px ;
            letter-spacing: .1em;
            grid-column: 1 / 5;
            padding-top: 2%;
            padding-bottom: 2%;
            span{
                padding-right: 15px;
            }
        }
        .introduction{
            grid-column: 1 / 3;
            margin-top: 10%;
        }
        .features{
            grid-column: 1 / 3;
            margin-top: 10%;
            li{
                margin-top: 10px;
            }
        }
        .imgprd{
            grid-column: 3 / 5;
            grid-row: 2 / 4;
            margin-top: 10%;
            figure{
                @include figmargin()
                margin-left: 10%;
                img{
                    width:100%;
                }
            }
        }
        .rproduct{
            grid-column: 1 / 5;
            margin-top: 10%;
            .subtitle{
                text-align: center;
            }
            div{
                display: flex;
                flex-direction: row;
                justify-content: center;
                height:30px;
                span.cgrey.comments{
                    margin-top: 3px;
                }
                span a{
                    padding-left: .5em;
                }
            }
        }
    }
    }
}