.headerhome {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 100px 1fr 1fr;
  grid-template-rows: 1;
  margin: 0px;
  background-image: url(../../images/abc.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  .headerhome aside {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto; }
    .headerhome aside a {
      text-decoration: none;
      color: #999; }
  .headerhome article .splashscr img {
    grid-column: 1/4;
    grid-row: 1; }
  .headerhome article .label > div {
    display: block;
    grid-column: 3;
    grid-row: 1; }
