.headerhome {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 5% 1fr 20%;
  grid-template-rows: 1;
  margin: 0px;
  background-image: url(../../images/abc.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  .headerhome aside {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto; }
    .headerhome aside a {
      padding-top: 10%;
      padding-bottom: 10%;
      padding-left: 80%;
      text-decoration: none;
      color: #999; }
  .headerhome article.headshoes {
    grid-column: 3;
    margin-top: auto;
    margin-bottom: auto; }
  .headerhome .label {
    display: block;
    grid-column: 3; }

.homebanner {
  display: grid;
  width: 100%;
  height: 33vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 0px; }
  .homebanner .hbanner1 {
    display: block;
    grid-column: 1;
    grid-row: 1;
    background-image: url(../../images/banner_h1_1.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
    .homebanner .hbanner1 .aleft {
      width: 50%;
      margin-left: 10%;
      margin-top: 11vh; }
  .homebanner .hbanner2 {
    grid-column: 2;
    grid-row: 1;
    background-image: url(../../images/banner_h1_2.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
    .homebanner .hbanner2 .acenter {
      display: block;
      width: 50%;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 8vh; }
      .homebanner .hbanner2 .acenter .wcom {
        padding-bottom: 5%;
        font-size: 18px;
        color: white; }
  .homebanner .hbanner3 {
    grid-column: 3;
    grid-row: 1;
    background-image: url(../../images/banner_h1_3.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
    .homebanner .hbanner3 .aright {
      display: block;
      width: 50%;
      text-align: left;
      margin-left: 60%;
      margin-top: 8vh; }

main {
  width: 60%;
  margin-left: auto;
  margin-right: auto; }
  main .gridtop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 100px; }
    main .gridtop .ts1 {
      grid-row: 1;
      grid-column: 1;
      margin-top: 25%;
      background-image: url(../../images/prd_03_1.jpg);
      background-repeat: no-repeat;
      background-size: contain; }
      main .gridtop .ts1 * .pretop {
        margin-left: 5%;
        margin-top: 95%; }
    main .gridtop .ts2 {
      grid-row: 1;
      grid-column: 2 / span 2;
      background-image: url(../../images/bsl2.jpg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right; }
      main .gridtop .ts2 * .deutop {
        width: 25%;
        margin-left: 10%;
        margin-top: 10%; }
    main .gridtop .ts3 {
      grid-row: 2;
      grid-column: 1 / span 2;
      background-image: url(../../images/bsl3.jpg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right;
      margin-right: 15%; }
      main .gridtop .ts3 * .tritop {
        width: 25%;
        margin-top: 10%; }
    main .gridtop .ts4 {
      grid-row: 2;
      grid-column: 3;
      background-image: url(../../images/prd_17_1.jpg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right; }
      main .gridtop .ts4 * .quatop {
        width: 75%;
        margin-left: 5%;
        margin-top: 130%; }

.sectitle {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2; }

.catmenu {
  grid-row: 1;
  grid-column: 2; }
  .catmenu ul {
    margin-top: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: end;
    list-style: none; }

.gridgallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(auto); }
  .gridgallery * > .label {
    margin-inline-start: 40px; }
  .gridgallery .footsec {
    grid-column: 2;
    text-align: center;
    padding-top: 33%; }

.dotd {
  display: block; }
  .dotd article {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-left: 0px;
    width: 100%;
    height: 700px; }
    .dotd article figure {
      grid-column: 1;
      grid-row: 1;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      z-index: 1; }
    .dotd article header div.label {
      grid-column: 1;
      grid-row: 1;
      z-index: 2; }
    .dotd article * .cdgrid {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
  .dotd * .label {
    grid-row: 1;
    grid-column: 1; }
