@font-face {
  font-family: roboto;
  src: url("../fonts/Roboto/Roboto-Regular.ttf"); }

body {
  font-family: roboto;
  color: #222;
  letter-spacing: .2em;
  overflow-x: hidden; }

.preview {
  font-size: 18px;
  color: #f68773;
  padding-bottom: 5%; }

.artnameh1 {
  font-size: 82px;
  font-weight: bold;
  padding-bottom: 10%; }

.link {
  padding-bottom: 5px;
  border-bottom: solid 1px #222;
  font-size: 14px;
  font-weight: bold;
  color: #222;
  text-transform: uppercase;
  text-decoration: none; }

.linkwou {
  padding-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
  color: #222;
  text-transform: uppercase;
  text-decoration: none; }

.wlink {
  padding-bottom: 5px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  text-decoration: none;
  border-bottom: solid 1px white; }

.bartnameh3 {
  font-size: 44px;
  font-weight: bold;
  padding-bottom: 50px; }

.cgrey {
  color: #999; }

.com {
  font-size: 18px;
  padding-bottom: 5%; }

.wartnameh3 {
  color: white;
  font-size: 44px;
  font-weight: bold;
  padding-bottom: 15%; }

.stitle {
  grid-row: 1;
  grid-column: 1;
  margin-top: 25%;
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 10px; }

.artname {
  font-size: 26px;
  font-weight: bold;
  padding-bottom: 5%; }
  .artname.gal {
    font-size: 12px;
    letter-spacing: .1em;
    padding-bottom: 5px; }

.artprice {
  padding-bottom: 25px; }
  .artprice.gal {
    letter-spacing: .1em;
    padding-bottom: 5px; }

.artrate {
  padding-bottom: 5px; }

.checked {
  color: #f68773; }

.artcolor *.red {
  color: red; }

.artcolor *.orange {
  color: orange; }

.artcolor *.blue {
  color: blue; }

.size {
  display: inline-block;
  background-color: #999;
  width: 27px;
  height: 22px;
  text-align: center;
  padding-top: 5px;
  border-radius: 50%; }

.promo {
  margin-top: 20px; }

.midprice {
  color: white;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  background-color: #f68773; }

.instock {
  color: white;
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  margin-left: 5px;
  text-align: center;
  border-radius: 3px;
  background-color: green; }
